USE [master]
GO
/****** Object:  Database [C:\USERS\KUBA\SOURCE\REPOS\CARAPPDB\CARDB.MDF]    Script Date: 31.05.2022 02:15:09 ******/
CREATE DATABASE [C:\USERS\KUBA\SOURCE\REPOS\CARAPPDB\CARDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDb', FILENAME = N'C:\Users\Kuba\source\repos\CarAppDB\CarDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarDb_log', FILENAME = N'C:\Users\Kuba\source\repos\CarAppDB\CarDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\KUBA\SOURCE\REPOS\CARAPPDB\CARDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\KUBA\SOURCE\REPOS\CARAPPDB\CARDB.MDF]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 31.05.2022 02:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[plate_number] [varchar](50) NOT NULL,
	[car_producer] [varchar](50) NOT NULL,
	[car_model] [varchar](50) NOT NULL,
	[car_owner] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
